<%= link_to profile_path(message.user.profile) do %>
  <div class="message">
    <div class="userProfile">
      <% if message.user.profile.pictures? %>
        <%= image_tag(message.user.profile.pictures[0].icon.url, class: "profileImg")  %>
      <% else %>
        <%= image_tag('fallback/icon_default.png', alt: "my profile pic", id: "my_profile_pic") %><br>
      <% end %>
      <p class="userName"><%= message.user.username %></p>
    </div>
    <div class="messageBody">
      <p><%= message.body.html_safe %></p>
      <p><%= message.updated_at || message.created_at %></p>
    </div>
  </div>
<% end %>
