<div id="BackgroundModal" class="modal fade">
  <div class="modal-dialog">
    <%= form_for [@profile] do |f| %>
      Ethnicity:<%= f.select(:ethnicity, options_for_select(@profile.ethnicities)) %><br>
      Religion:<%= f.select(:religion, options_for_select(@profile.religions)) %><br>
      Languages:
        <%= f.collection_check_boxes(:languages, @profile.list_languages, :to_s, :to_s) do |b| %>
          <%= b.label(class: "check_box") do %>
              <%= b.check_box(class: "check_box") %>
              <%= b.object %>
          <% end %>
        <% end %><br>
      <%= f.submit "Save info", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
