<div id="BasicsModal" class="modal fade">
  <div class="modal-dialog">
    <%= form_for [@profile] do |f| %>
      Gender:<%= f.select(:gender, options_for_select(@profile.list_genders)) %><br>
      Interested in:
      <%= f.collection_check_boxes(:orientation, @profile.list_genders, :to_s, :to_s) do |b| %>
        <%= b.label(class: "check_box") do %>
            <%= b.check_box(class: "check_box") %>
            <%= b.object %>
        <% end %>
      <% end %><br>
      Looking for:
      <%= f.collection_check_boxes(:looking_for, @profile.list_looking_for, :to_s, :to_s) do |b| %>
        <%= b.label(class: "check_box") do %>
            <%= b.check_box(class: "check_box") %>
            <%= b.object %>
        <% end %>
      <% end %><br>
      Height:<%= f.number_field :height %>cm<br>
      Weight:<%= f.number_field :weight %>kg<br>
      <%= f.submit "Save info", class: "btn btn-info" %>
    <% end %>
  </div>
</div>