<!-- edit form for biography -->

<%= form_for [@profile], remote: true, method: :patch do |f| %>
    <br>
  <%= f.text_area :biography, class: 'form-control' %>
  <%= f.submit "Save bio", class: 'btn btn-info', style: "display: none;" %>
<% end %>