<div id="DetailsModal" class="modal fade">
  <div class="modal-dialog">
    <%= form_for [@profile] do |f| %>
      Education:<%= f.select(:education, options_for_select(@profile.educations)) %><br>
      Profession:<%= f.text_field :profession %><br>
      Smokes:<%= f.select(:smokes, options_for_select(@profile.list_smokes_or_drinks)) %><br>
      Drinks:<%= f.select(:drinks, options_for_select(@profile.list_smokes_or_drinks)) %><br>
      <%= f.submit "Save info", class: "btn", 'data-dismiss' => "modal" %>
    <% end %>
  </div>
</div>
