<%# app/views/students/_list.html.erb %>
<div id="filterrific_results" class="offset-xs-4">

  <div>
    <%#= page_entries_info profiles # provided by will_paginate %>
  </div>

    <% profiles.each do |profile| %>
      <%= link_to profile_path(profile.id) do %>
        <% if profile.pictures? %>
          <%= image_tag profile.pictures[0].thumb.url %>
        <% else %>
          <%= image_tag('fallback/icon_default.png', alt: "my profile pic", id: "my_profile_pic") %><br>
        <% end %>
      <% end %>
          <%= link_to(profile.user.username, profile_path(profile)) %>
      <hr>
		<% end %>
</div>

<%#= will_paginate profiles # provided by will_paginate %>
