<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Search</h1>
      <%= form_for_filterrific @filterrific do |f| %>
        <div>
          <div class="form-group">
            <%= f.label :gender %>
            <%= f.select(:with_gender, @filterrific.select_options[:with_gender], { include_blank: '- Any -' },  class: "form-control") %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :ethnicity %>
            <%= f.select(:with_ethnicity, @filterrific.select_options[:with_ethnicity], { include_blank: '- Any -' },  class: "form-control") %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :smoker %>
            <%= f.select(:with_smoke, @filterrific.select_options[:with_smoke], { include_blank: '- Any -' },  class: "form-control") %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :drinker %>
            <%= f.select(:with_drink, @filterrific.select_options[:with_drink], { include_blank: '- Any -' },  class: "form-control") %>
          </div>
          <br>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h1>Results</h1>
      <%= render(partial: 'profiles/list', locals: { profiles: @profiles }) %>
    </div>
  </div>
</div>
