
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="profilePic">
        <% if @profile.pictures? %>
        <%= image_tag(@profile.pictures[0].profile.url, alt: "my profile pic", id: "my_profile_pic") %><br>
      <% else %>
        <%= image_tag('fallback/profile_default.png', alt: "my profile pic", id: "my_profile_pic") %><br>
      <% end %>
      </div>
      <% if @profile.user == current_user %>
        <%= form_for @profile, html: { multipart: true }, :remote => true do |f| %>
          <%= f.label "Add a Profile Picture" %>
          <%= f.file_field :pictures, multiple: true %><br>
              <br>
          <%= f.submit "Upload", class: "upload btn btn-info" %>
        <% end %>
      <% else %>
        <%= button_tag "Message Me", class: "msgBtn btn" %>
        <div class="newConversation">
          <p>Send a message to <%= @profile.user.email %></p>
          <%= render 'conversations/conversations' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-7">
      <h2>Biography</h2>
      <p class="biography"><%= @profile.biography %></p>
      <% if @profile.user == current_user %>
          <%= button_tag "Edit Bio", class: "bio btn btn-info" %>
          <div class="bioForm">
            <%= render "profiles/biography" %>
          </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8">
      <div class="basics">
        <h2>Other info</h2>
        Interested In: <% @profile.orientation.each do |orientation| %>
          <%= orientation %><br>
        <% end %>
        <br>
        Looking For: <% @profile.looking_for.each do |lf| %>
          <%= lf %><br>
        <% end %>
        <p>Gender: <%= @profile.gender %></p><br>
        <p>Height: <%= @profile.height %>cm</p>
        <p>Weight: <%= @profile.weight %>kg</p>
      </div>
      <div class="editBasics">
        <% if @profile.user == current_user %>
          <%= button_tag "Edit Basics", class: "btn", 'data-toggle' => "modal", 'data-target' => "#BasicsModal" %>
          <%= render "profiles/basics" %>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8">
      <div class="background">
        <p>Ethinicity: <%= @profile.ethnicity %></p>
        <p>Languages:</p>
        <% @profile.languages.each do |language| %>
          <%= language %>
        <% end %>
      </div>
      Religion: <%= @profile.religion %>
      <div class="editBackground">
        <% if @profile.user == current_user %>
          <%= button_tag "Edit Background", class: "btn", 'data-toggle' => "modal", 'data-target' => "#BackgroundModal" %>
          <%= render "profiles/background" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="details">
        Education: <%= @profile.education %><br>
        Profession: <%= @profile.profession %><br>
        Smokes: <%= @profile.smokes %><br>
        Drinks: <%= @profile.drinks %><br>
        Star Sign: <%= @profile.determine_star_sign %><br>
      </div>
      <div class="editDetails">
        <% if @profile.user == current_user %>
          <%= button_tag "Edit Details", class: "btn", 'data-toggle' => "modal", 'data-target' => "#DetailsModal" %>
          <%= render "profiles/details" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<br>

<br>


<%= javascript_include_tag 'profiles' %>

