<%= form_for @conversation do |f| %>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :recipient_id, value: @profile.user.id %>
  <%= f.fields_for :messages, @conversation.messages.build do |builder| %>
    <%= builder.hidden_field :user_id, value: current_user.id %><br>
    <%= builder.text_area :body %><br>
  <% end %>
  <%= f.submit "Create Conversation", class: "submitBtn" %>
<% end %>
