<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="conversations">
        <h2>Conversations</h2>
        <% @my_conversations.each do |conversation| %>
          <%# TODO: Re-attempt mark_as_read %>
          <% unless conversation.messages.last.is_read == true %>
            <div class="conversation unread">
          <% else %>
            <div class="conversation read">
          <% end %>
              <%= form_for [conversation, conversation.messages.last], remote: true, method: :patch do |f| %>
                <%= f.hidden_field :is_read, value: true %>
              <% end %>
              <%= link_to '#', onclick: "$('#edit_message_#{conversation.messages.last.id}').submit()", class: "reading", id: "mark_as_read" do %>
                <div class="match">
                  <div class="userProfile">
                    <% if conversation.messages.last.user.profile.pictures? %>
                      <%= image_tag(conversation.messages.last.user.profile.pictures[0].icon.url, class: "profileImg")  %>
                    <% else %>
                      <%= image_tag('fallback/icon_default.png', alt: "my profile pic", id: "my_profile_pic") %><br>
                    <% end %>
                  </div>
                  <p class="userName"><%= conversation.messages.last.user.username %></p>
                </div>
                <div class="messageBody">
                  <p><%= conversation.messages.last.body.html_safe %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Inbox</h2>
        <div class="inbox">
          <% @my_conversations.each do |conversation| %>
            <div class="outerContainer" id="container_<%= conversation.id %>">
              <div class="reply">
                <p>Reply to .....</p>
                <%= form_for [conversation, @message], remote: true do |f| %>
                  <%= f.text_area :body %><br>
                  <%= f.submit "Reply", class: "submitBtn" %>
                <% end %>
              </div>
              <div class="innerContainer" id="conversation_<%= conversation.id %>">
                <div class="messages" id="messages">
                  <%= render conversation.messages.reverse %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'conversations' %>
