<div class="row">
  <div class="introductions">
    <h1><%= @conversation.sender.username %> meet <%= @conversation.recipient.username %></h1>
    <p>We hope you guys hit it off!</p>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="messages" id="messages">
      <%= render @conversation.messages %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="reply">
      <p>Reply to .....</p>
      <%= render 'messages/create' %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<%= javascript_include_tag 'conversations' %>
