@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "conversations";
@import "messages";
@import "profiles";

//@import 'libs/*';
//@import 'fonts';
//@import 'application/*';

header {
  margin-bottom: 3em;
}

.navbar {
  z-index: 999;
}

.homepage {
  background: url("http://askmenanswers.com/images/LJ-memphis-couples-photography-great-date-night-idea-mississippi-river-sunset-4-e1334787287689.jpg") no-repeat center center fixed;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  background-size: 100%;
  height: 100%;
}

.full-background {
  color: white;
  margin: 0 auto;
  //background: url("home_page2.jpg") no-repeat center center fixed;
  background: url("http://forevertwentysomethings.com/wp-content/uploads/2014/11/ae4f855bf98cdfc2e4cb21cc2d346607.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
}

.welcome {
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
  border-radius: 25px;
  max-width: 80em;
  vertical-align: center;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
.logout {
  p {
    margin-right: 1em;
    color: #889691;
    display: inline-block;
  }
  form {
    display: inline-block;
  }
  @include float-left
  //float: right;
}

.img {
  float: left;
}

footer {
  color: #889691;
  width: 100%;
  background-color: #373A3C;
  padding-top: 0.75em;
  padding-left: 1em;
  position: fixed;
  bottom: 0;
}

select.date-select {
  width:auto;
  height: 2em;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}


.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.element {
  /*z-index: 999;*/
  /*position: absolute;*/
  font-size: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  color: #009105;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}


.join-us {
  margin-right: auto;
  margin-top: 8%;
  margin-left: 40%;
  text-align: center;
  display: inline-table;
  cursor: pointer;
}