// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.unread {
  background: rgba(62, 114, 147, 0.75);
}
.read {
  background: rgba(0, 0, 0, 0.75);
}
.conversation {
  margin-bottom: 1em;
  border-radius: 0.25em;
  padding: 1em;
  div {
    display: inline-block;
  }
  a {
    color: white;
  }
  p {
    margin-right: 1em;
  }
}
.newConversation {
  display: none;
  .submitBtn {
    display: none;
  }
}

