// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.25em;
  div {
    display: inline-block;
  }
  p {
    margin-right: 1em;
  }
  a {
    color: white;
  }
}

.reply {
  margin-bottom: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 0.25em;
  width: 100%;
  .submitBtn {
    display: none;
  }
  textarea {
    width: 100%;
    height: 100px;
    opacity: 0.5;
  }
}

textarea {
  width: 90%;
  height: 100px;
  opacity: 0.5;
}

.messageBody {
  vertical-align: top;
}

.userProfile {
  p {
    margin: 0;
  }
  margin-right: 0.75em;
  margin-bottom: 0.5em;
}
.outerContainer {
  display: none;
}
.innerContainer {
  margin-bottom: 1em;
  width: 100%;
  max-height: 600px;
  overflow-y:auto;
}
