// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newConversation {
  display: none;
}

.bioForm {
  display: none;
}

