@import 'fonts.scss';

header {
  background: #333;
  padding: 1rem;
  padding: 1em;
  border-bottom: 2px solid #999;


  #main-logo {
    @include logo-font;
    display: block;
    font-size: 2rem;
    font-size: 2em;
    background: image-url('logo.png') no-repeat;
    height: 62px;
    line-height: 62px;
    padding-left: 82px;
  }
}
