<div id="loginModal" class="modal fade">
  <div class="modal-dialog">
      <div class="welcome">
        <div class="row">
          <div class="col-xs-6">
            <h2>Log in</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: 'form-control', autofocus: true %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
                </div>
                <br>
                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div class="actions">
                  <%= f.submit "Log in", class: 'btn btn-success' %>
                </div>
            <% end %>
            <br>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>

            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
            <% end -%>

            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
            <% end -%>
          </div>

          <div class="col-xs-6">
            <h2>Sign up</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.text_field :email, class: 'form-control', autocomplete: "on" %>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: 'form-control', autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :date_of_birth %><br />
                  <%= f.date_select :date_of_birth, {:start_year => Date.current.year, :end_year => 1920, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'}  %>
                </div>
                <br>

                <div class="actions">
                  <%= f.submit "Sign up", class: 'btn btn-info' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>