
<div class="full-background">
  <div class="element">

  </div>

	<div class="join-us">
		<p>
			<%= button_tag "Sign in / Sign up", class: "btn btn-info btn-lg", 'data-toggle' => "modal", 'data-target' => "#loginModal" %>
		</p>
	</div>

</div>

<%= render "register" %>






